.sign-in {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 12px;
  padding: 48px 4px;
  span {
    font-family: Mulish;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.8px;
    text-align: center;
    color: #000;
    a {
      color: #6200ee;
      text-decoration: none;
    }
  }
}

.MuiButtonBase-root:hover {
  background: #4c01b5 !important;
}
