.books-hero {
  margin: 36px 0;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .hero__text {
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 45.18px;
      color: #fff;
      margin-bottom: 12px;
      span {
        color: #6200ee;
      }
    }
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 25.1px;
      color: #fff;
    }
  }
  button {
    padding: 10px 24px;
    border-radius: 4px;
    background: #6200ee;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.08px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      background: #4a00b2;
    }
    &:active {
      transform: scale(0.94);
    }
  }
}
